CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/msc/mx6x_nanoRISC/mx6q_4x_NT5CC256M16CP.cfg,MX6Q,DDR_MB=2048"
CONFIG_ARM=y
CONFIG_TARGET_MX6Q_NANORISC=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
